*
!.gitignore

!genshin
!genshin/**
genshin/config/*

!system
!system/**

!other
other/**
!other/restart.js
!other/sendLog.js
!other/update.js
!other/add.js

!example
example/**
!example/主动复读.js
!example/进群退群通知.js
!example/模拟定时输入.js
!example/伪造消息.js
!example/葵崽插件.js

!adapter
adapter/**
!adapter/ComWeChat.js
!adapter/OneBotv11.js
!adapter/stdin.js
!adapter/GSUIDCORE.js
!adapter/QBQBot.js
!adapter/Satori.js

!api
api/**
!api/bot.js
!api/core.js
!api/device.js
!api/files.js
!api/loader.js
!api/plugin.js
!api/stdin.js
!api/write.js
!api/config.js
!api/ai.js

!events
events/**
!events/online.js
!events/connect.js
!events/device.js
!events/message.js
!events/notice.js
!events/request.js

!stream
stream/**
!stream/chat.js

*.psd
*.map