*
!.gitignore

!genshin
!genshin/**
genshin/config/*

!system
!system/**

!other
other/**
!other/restart.js
!other/sendLog.js
!other/update.js
!other/version.js
!other/stdin.js
!other/bot.js

!example
example/**
!example/主动复读.js
!example/进群退群通知.js
!example/模拟定时输入.js
!example/伪造消息.js
!example/功能插件.js

!XRK
!XRK/**

!adapter
!adapter/**
*.psd
*.map